<div class="row">   
        <div class="leftcolumn">
                
                <h2>{{post.title}} </h2>
                <h5>{{user.name}}</h5>

                <h5>{{post.created_at}}</h5>    
                <img class="banner" src="./assets/images/{{post.image}}">       
                <p>{{post.content}}</p>
                <p>{{post.likes}}</p>
                <p>{{post.dislikes}}</p>
                <p>{{post.comments}}</p>

                <form id="form" action="/post">
                        <label for="content"></label>
                        <textarea id="content" name="content" cols="120" rows="30" placeholder=" Edit content here then click on Submit Article"></textarea>
                </form>

        </div>

        <div class="rightcolumn">

                <form action="/post">
                        <label for="img">Select new cover image:</label>
                        <input type="file" id="img" name="img" accept="image/*">
                        <input type="submit">
                </form>
        </div>

</div>