<div class="row">
    <div class="leftcolumn">

        {{#each posts as |post|}}
        <div class="card">
            <h2>{{post.title}}</h2>
            <h5>{{post.created_at}}</h5>
            <img class="banner" src="./assets/images/{{post.image}}">
            <p>{{post.content}}</p>
            <a href="#">READ MORE</a>
        </div>
        {{/each}}
    </div>
    <div class="rightcolumn">
        <div class="card">
            <h2>About Us</h2>
            <img src="./assets/images/autor.jfif" Image</div>
            <p>Welcome to the Coder's World Community. We love coding.Feel free to submit your article for review.
            </p>
        </div>
        
           <h3>Read our most popular blogs.</h3>
            {{#each popular as |popular|}}
              <div class="card">
            <h4>{{popular.title}}</h2>
            <h5>{{popular.created_at}}</h5>
            <img class="banner" src="./assets/images/{{popular.image}}">
            <p>{{popular.content}}</p>
            <a href="#">READ MORE</a>
        </div>
        {{/each}}
        

    </div>
</div>